{% extends 'layout.html' %}

{% block css %}
    {% if mobile == True %}
        <link href="{{ url_for('static', filename='css/mobile/auth/register.css') }}" rel="stylesheet">
    {% else %}
        <link href="{{ url_for('static', filename='css/desktop/auth/register.css') }}" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block content %}
    <div class="center">
        <form class="register_container" action="{{ url_for('main.register') }}" method="post">
            <div>
                <div class="text_and_field">
                    <h4 class="text text_above margin_top_40px">Användarnamn</h4>
                    <input class="input_field" type="text" name="name">
                </div>
                <div class="text_and_field">
                    <h4 class="text text_above margin_top_40px">Lösenord</h4>
                    <input class="input_field" type="password" name="password">
                </div>
                <div class="text_and_field">
                    <h4 class="text text_above margin_top_40px">Bekräfta lösenord</h4>
                    <input class="input_field" type="password" name="repeat_password">
                </div>
            </div>
            <input class="text blue_box btn" type="submit" value="Registrera">
        </form>
        <a class="text blue_box btn link cancel_btn" href="{{ url_for('main.login') }}">Avbryt</a>
    </div>
{% endblock %}
