.blue_box {
    margin-top: 23px;
    width: 100%;
}

.log_in_container {
    width: 100%;
}

/* For mobile */
@media screen and (max-width: 768px) {
    .center {
        width: calc(100% - 46px);
        position: absolute;
        bottom: 23px;
    }
}

/* For desktop */
@media screen and (min-width: 769px) {
    .center {
        width: calc(50% - 120px);
        transform: translateX(calc(50% + 60px));
        position: absolute;
        bottom: 20vh;
    }

    .title {
        margin-top: 20vh;
    }
}