{% extends 'layout.html' %}

{% block css %}
    {% if mobile == True %}
        <link href="{{ url_for('static', filename='css/mobile/exercises/delete.css') }}" rel="stylesheet">
    {% else %}
        <link href="{{ url_for('static', filename='css/desktop/exercises/delete.css') }}" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block content %}
    <div class="events_show_container">
        <h4 class="subtitle">Är du säker på att du vill ta bort denna kategori?</h4>

        <form action="{{ url_for('main.exercises_delete', exercise_id=exercise.id) }}" method="post">
            <input class="text blue_box red_box btn" type="submit" name="Radera" value="Radera">
        </form>
    </div>

    <a href="{{ url_for('main.exercises_show', exercise_id=exercise.id) }}" class="back btn link">
        <p class="text">Tillbaka</p>
    </a>
{% endblock %}
