.blue_box {
    width: calc(100% - 120px);
    position: absolute;
    bottom: 150px;
}

.text_and_field {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.new_post_container {
    position: absolute;
    bottom: 300px;
    width: calc(100% - 120px);
}

.input_field {
    position: absolute;
    right: 0;
    width: 70%;
}

.uppertext {
    display: flex;
    justify-content: center;
}

.uppertext > .text {
    flex-grow: 1;
    display: block;
}

.ta_bort {
    position: relative;
    right: 0px;
    text-align: right;
    margin-bottom: 2rem;
    display: block;
}