.blue_box {
    width: 100%;
    margin-top: 60px;
}

.register_container {
    width: 100%;
}

.cancel_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.center {
    position: absolute;
    width: calc(100% - 120px);
    bottom: 60px;
}
