<!doctype html>
<html>

  <head>
    <title>Training Progression</title>
    <meta charset="utf-8">
    <meta name="description" content={{description}}>
    
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="{{ url_for('static', filename='css/desktop/layout.css') }}" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">

    {% block css %}{% endblock %}

  </head>

  <body>
    <div class="wrapper">
        <h2 class="title">{{title}}</h2>
        {% block content %}{% endblock %}
    </div>
  </body>
</html>